<div class="h3 m-5 col-3 bg-info text-black text-center">
  商品詳細
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= image_tag @item.get_image %>
        </div>
        <div class="col-md-7 offset-md-1">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>商品名</th>
                        <td><%= @item.name %></td>
                    </tr>
                    <tr>
                        <th>商品説明</th>
                        <td><%= @item.introduction %></td>
                    </tr>
                    <tr>
                        <th>ジャンル</th>
                        <td><%= @item.genre.name %></td>
                    </tr>
                    <tr>
                        <th>税込価格（税抜価格）</th>
                        <td><%= @item.with_tax_price.to_s(:delimited) %>（<%= @item.price.to_s(:delimited) %>）円</td>
                    </tr>
                    <tr>
                        <th>販売ステータス</th>
                        <td>
                            <% if @item.is_active %> 
                                <p>販売中</p>
                            <% else %> 
                                <p>販売停止中</p>
                            <% end %> 
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>  
    <div class="row">
        <div class="text-center">
                <%= link_to edit_admin_item_path(@item) do %>
                    <div class="btn btn-sm btn-success">編集する</div>
                <% end %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th>ユーザー名</th>
                        <th>コメント</th>
                        <th colspan="1"></th>
                        <th>コメント件数<%= @item.item_comments.count %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @item.item_comments.each do |item_comment| %>
                    <tr>
                        <td><%= item_comment.user.first_name %><%= item_comment.user.last_name %></td>
                        <td><%= item_comment.comment %></td>
                        <td><%= item_comment.created_at.strftime('%Y/%m/%d') %></td>
                        <td>
                            <%= link_to item_item_comment_path(item_comment.item, item_comment), method: :delete do %>
                                <div class="btn btn-sm btn-danger">削除する</div>
                            <% end %>                            
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div>  
    
            
                
               平均評価:
                <% if @item.item_comments.count !=0 %>
                    <%= (@item.item_comments.sum {|comment| comment.rate } / @item.item_comments.count).round(1)  %>
                <% else %>
                    まだ評価されていません
                <% end %>
                
                <%= form_with model: [@item, @item_comment] do |f| %>
                     <div id="post_raty">
                       <label>評価：</label>
                 
                    </div>
                    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                    <%= f.submit "送信する" %>
                <% end %>
                      <script>
                    var elem = document.getElementById('post_raty');
                    var opt = {  
                        starOn: "<%= asset_path('star.jpg') %>",
                        starOff: "<%= asset_path('star_off.jpg') %>",
                        starHalf: "<%= asset_path('star_harf.jpg') %>",
                      };
                      raty(elem,opt);
                    </script>
            </div>
        </div>
    </div>    
</div>
