<div class="m-2 h3 border-bottom">
  <div class="text-center">お客様ログイン</div>
</div>

  <div class="row text-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="m-1 field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="m-1 field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
    
      <div class="m-5 actions">
        <input class="btn btn-primary" type="submit" value="ログイン">
      </div>
    <% end %>
  </div>  
    <%= render "admin/shared/links" %>
