<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="border">
                <div class="border-bottom">
                    ジャンル検索
                </div>
                <% @genres.each do |genre| %>
                    <div class="text-center">
                        <%= link_to genre.name, items_path(genre_id: genre.id)%>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-10">
            <h3>商品一覧</h3>
                <div class="col-12 d-flex m-5">
                    <% @items.each do |item| %>
                    <% if item.is_active %>
                    <div class="card">
                        <%= image_tag item.get_image %>
                        <div class="card-body">
                            <h4 class="card-title"><%= link_to item.name, item_path(item.id) %></h4>    
                            <h6 class="card-text">￥<%= item.with_tax_price.to_s(:delimited) %></h6>
                            <h5 class="card-text"><%= link_to "#{item.item_comments.count} コメント", item_path(item_id) %></h5>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>  
    
        </div>
    </div>    
    <%= paginate @items %>
    
</div>