<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="border">
                <div class="border-bottom">
                    ジャンル検索
                </div>
                <% @genres.each do |genre| %>
                    <div class="text-center">
                        <%= link_to genre.name, items_path(genre_id: genre.id)%>
                    </div>
                <% end %>
            </div>
            <% @items.each do |item| %>
              <%= item.id %>
              <%= item.name %>
            <% end %>
            
            <%= form_with url: user_homes_top_path, method: :get do |form| %>
              <% @genres.each do |genre| %>
                <%= form.check_box :genre_id, { multiple: true }, genre.id, nil %>
                <%= genre.id %>
                <%= genre.name %>
              <% end %>
              
            
              <%= form.submit "実行" %>
            <% end %>
        </div>

        <div class="col-10">
            <h3>商品一覧</h3>
                <div class="col-12 d-flex m-5">
                    <% @items.each do |item| %>
                    <% if item.is_active %>
                    <div class="card">
                        <%= image_tag item.get_image %>
                        <div class="card-body">
                            <h4 class="card-title"><%= link_to item.name, item_path(item.id) %></h4>    
                            <h6 class="card-text">￥<%= item.with_tax_price.to_s(:delimited) %></h6>
                            <h5 class="card-text">コメント数<%= item.item_comments.count %></h5>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>  
    
        </div>
    </div>    
    <%#= paginate @items %>
    
</div>