<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="border">
                <div class="border-bottom">
                     絞り込み機能
                </div>
                <%= form_with url: search_path, method: :get do |form| %>
                    <% @genres.each do |genre| %>
                        <div class="text-center">
                            <%= form.check_box :genre_id, { multiple: true }, genre.id, nil %>
                            <%= genre.id %>
                            <%= genre.name %>
                        </div>
                    <% end %>
                    
                    <%= form.submit "実行" %>
                <% end %>    
            </div>
            

        </div>

        <div class="col-md-10">
            <h3>商品一覧</h3>
                <div class="card-list-container py-5">
                    <% @items.each do |item| %>
                    <div class="card w-50 mx-auto mt-4 shadow-lg">
                    <% if item.is_active %>
                
                          
                                <%= image_tag item.get_image, class:"card-img-top"; %>
                          
                        <div class="card-body">
                            <div class="row">
                                <h4 class="card-title"><%= link_to item.name, item_path(item.id) %></h4>    
                                <h6 class="card-text">￥<%= item.with_tax_price.to_s(:delimited) %></h6>
                                <h5 class="card-text">コメント数<%= item.item_comments.count %></h5>
                            </div>    
                        </div>
                      
                        <% end %>
                        
                    </div>
                    <% end %>
                </div>
        </div>
    </div>    
    <%#= paginate @items %>
    
</div>



