<div class="h3 m-5 col-3 bg-info text-black text-center">
  管理情報入力確認画面
</div>

<div class="py-4">
    <section id="menu">
        <div class="container">
            <h3 class="md-3"> 入力項目一覧</h3>
            <p>こちらの内容でよろしいでしょうか。</p>
                    <h4>動物画像</h4>
                    <%= image_tag @management.get_image %>
                    <h3>品種名<h3>
                        <%= @management.animal_name %>
                    <h3>個体名</h3>
                        <%= @management.name %>
                    <h3>個体番号</h3>
                        <%= @management.number %>
                    <h3>入荷・生誕日</h3>
                        <%= @management.arrival %>
                    <h3>種付け予定日</h3>
                        <%= @management.mating %>
                    <h3>分娩日</h3>
                        <%= @management.estimated %>
                    <h3>ワクチン接種</h3>
                        <%= @management.vaccine %>
                    <h3>自由記述欄</h3>
                        <%= @management.comment %>
                </div>
            <div class="text-center">   
                <button type="submit" class="btn btn-info">はい</button>
            </div>                
        </div>
    </section>
</div>